/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    text-align: center;
    background-color: pink;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header li a {
    text-decoration: none;
    color: whitesmoke;
}

li a {
    text-decoration: none;
    color: whitesmoke;
}

header {
    text-align: center;
    background: pink;
    background-size: cover;
    padding: 2.25rem 1.5rem 1.5rem 1.5rem;
}

header li a {
    text-decoration: none;
    color: ;
    padding: 0 10px;
}

header .logo {
    margin-bottom: 1rem;
}

header li a:hover {
    color: ;
}

.service {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid whitesmoke;
}

.services h2 {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.service img {
    width: 50%;
}

.service a {
    color: whitesmoke;
}

.logistics h1 {
    margin: 0;
}

.logistics strong {
    color: whitesmoke;
}

.logistics img {
    width: 50%;
}

.hero {
    padding: 10rem 1.5rem 3rem;
    background: pink;
    background-size: cover;
    text-align: center;
}

.hero h1 {
    font-size: 1.875rem;
    color: ;
    font-family: 'fairplay display', monospace;
    text-shadow: 0 0 40px rgba(0, 0, 0, .1);
}

.hero a {
    background-color: pink;
    padding: .5rem 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.hero {
    position: relative;
    background: ;
    background-size: cover;
    text-align: center;
    height: 60vh;
}

.hero-content {
    position: absolute;
    bottom: 2.25rem;
    right: 1.5rem;
}

.hero h1 {
    text-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.hero a {
    border-radius: 4px;
    background-color: pink;
    padding: .5rem 1rem;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, .6);
    transition: background .4s;
}

.hero a:hover {
    background-color: pink;
}

header li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0 10px;
    transition: color .2s;
}

header li a:hover {
    color: whitesmoke;
}

header .logo {
    transition: transform .4s;
}

header .logo:hover {
    transform: scale(.95);
}

.service {
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 1rem 1 rem 1.5rem 1rem;
    border: 1px solid whitesmoke;
}

.logistics img {
    width: 100%;
    border: 1rem solid whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.services {
    padding 1.5rem
}

.services h1 {
    margin-top: 0;
}

.breadcrumbs {
    padding: 1.5rem;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs {
    display: inline-block;
    color: whitesmoke;
}

.breadcrumbs {
    color: whitesmoke;
}

p {
    font-size: 1.5rem;
}

@media screen and (min-width: 40em){
    p {
        font-size: 3rem;
    }
}

@media screen and (min-width: 64em) {

p {
    font-size: 4.5rem;
    }
}


footer {
    background-color: pink;
    color: deeppink;
    padding: 1.5rem;
    text-align: center;
}

footer p {
    margin-top: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10px;
}

footer li a:hover {
    color: whitesmoke;
}













 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


